### Q1
List the basic data types in python and give one example each.

In [ ]:
integer = 6
float = 3.56
string = "Ama"
boolean = True

### Q2
Change the variable x = 4539.85 to :

(i) a string and assign it to a new variable y,

(ii) an integer and assign it to a new variable z

Print out the type of y and z.

In [4]:
x= 4539.85
y = str(x)
z = int(x)

print(type(y))
print(type(z))

<class 'str'>
<class 'int'>

### Q3

What data type would you use to store

a. The price of car?
- float

b. The age of a person
- integer

c. car plate number: plateNumber = "AV01-AFP"?
- string

d. The price of fuel
- float

e. The number of students in the class
- integer

f. The weight of a person
- float

g. Check whether two figures are equal
- boolean

i. The name of a  school
- string

j. The average result of the overall score of a student
- float

k. The total number of vote cast
- integer

### Q4
**Thomas Partey is arguably the best player in the Black Stars. He is a great addition to the team**

Split the statement above into **two statement_1** and **statement_2** such that statement_1 will be 'Thomas Partey is arguably the best player in the Black Stars' and statement_2 will be 'He is a great addition to the team'

Statement:

- **What is the length of statment 1?**
-**What is the length of statment 2?**
-**Is the length of statement 1 greater than statement 2**

In [12]:
statement_1 = "Thomas Partey is arguably the best player in the Black Stars"
statement_2 = "He is a great addition to the team"

statement_1_len = len(statement_1)
statement_2_len = len(statement_2)

print(statement_1_len)
print(statement_2_len)

# checking the lengths of statement 1 and statement 2
print(statement_1_len > statement_2_len)

60
34
True

### Q5
What values does python use to represent **True** and **False** respectively?

True = 1  
False = 0

### Q6
Write a code to evaluate if the following statments are True or False.

1. 78 is greater than 46 and less than 30 which is an odd number.

2. 8-2 is an even number or 8 is a is an odd number.

3. The number of characters in the word 'boostrap' is 7 and that of 'sample' is 6.

In [13]:
a = 78
b = 46
c = 30

(a>b) and (a<c) and (c%2 != 0)

False

### Q7
Given the following python code,

`word='Hello, How are you?'`

Write Python code to return the following

- How
- How are you
- are
- ?
- Hello, How are you

In [38]:
word='Hello, How are you?'

# returning "How" from the sentence
substring_how = word[7:10]
print(substring_how)

# returning "How are you" from the sentence
substring_how_are_you = word[7:18]
print(substring_how_are_you)

# returning "are" from the sentence
substring_are = word[11:15]
print(substring_are)

# returning "are" from the sentence
substring_question_mark = word[-1]
print(substring_question_mark)


# returning "Hello, How are you" from the sentence
substring_greet = word[0:18]
print(substring_greet)

How
How are you
are
?
Hello, How are you

### Q8
Given the following python code,

`sentence = "I am very excited"`

Write Python code to return 
- Convert sentence to upper case
- Convert sentence to lower case
- Convert sentence to title case
- Convert sentence to list of strings

In [48]:
sentence = "I am very excited"

sentence_upper = sentence.upper()
print(sentence_upper)

sentence_lower = sentence.lower()
print(sentence_lower)

sentence_title_case = sentence.title()
print(sentence_title_case)

sentence_list = list(sentence)
print(sentence_list)

I AM VERY EXCITED
i am very excited
I Am Very Excited
['I', ' ', 'a', 'm', ' ', 'v', 'e', 'r', 'y', ' ', 'e', 'x', 'c', 'i', 't', 'e', 'd']

### Q9
`word = 'OneThirtyEight'`

Using Python code extract the following from the variable word:
- One
- Thirty
- Eight
- OneThirty
- ThirtyEight
- ONETHIRTYEIGHT

In [57]:
word = 'OneThirtyEight'

substring_one = word[0:3]
print(substring_one)

substring_thirty = word[3:9]
print(substring_thirty)

substring_eight = word[9:14]
print(substring_eight)

substring_one_thirty = word[0:9]
print(substring_one_thirty)

substring_thirty_eight = word[3:14]
print(substring_thirty_eight)

substring_one_thirty_eight = word[0:].upper()
print(substring_one_thirty_eight)

One
Thirty
Eight
OneThirty
ThirtyEight
ONETHIRTYEIGHT

### Q10
Turn Ault'Kelly into a string and assign it to a variable  called name.

In [58]:
name = "Ault'Kelly"
print(name)

Ault'Kelly